<!DOCTYPE html>
<html>
  <head>
    <title>robot hexagon</title>
    <meta charset="utf-8">
    <!-- Bootstrap -->

    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/bootstrap-responsive.min.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="js/bootstrap.js") }}" rel="stylesheet">
    <style>
    .indent
    {
      margin-left:3em
    }
    </style>
    </head>
  <body>
    <div align="center">
      <h1>Code to move in a roughly {{number}} by {{number}} feet hexagon:</h1>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <code>main:</code><br>
          <code class="indent">forward A</code><br>
          <code class="indent">forward B</code><br>
          <code class="indent">pause {{number*1400}}</code><br>
          <code class="indent">goto doRight</code><br>
          <code class="indent">goto main</code><br>
        <code>goto main</code><br>
        <br>
        <code>doRight:</code><br>
          <code class="indent">backward B</code><br>
          <code class="indent">forward A</code><br>
          <code class="indent">pause 193</code><br>
          <code class="indent">goto main</code>
      </div>
    </div>
  </body>
</html>